body {
  width: 320px;
  margin: 0 auto;
  background: #282a2b;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.4);
  text-shadow: -1px -1px 0 rgba(0, 0, 0, 0.8);
}

header {
  height: 40px;
  background: -webkit-gradient(linear, left top, left bottom, from(#29292d), to(#222224));
  fdont-weight: 300;
  -webkit-box-shadow: 0 1px 0 #000, 0 2px 0 #333;
}

header h1 {
  font-size: 30px;
  line-height: 40px;
  color: white;
  text-align: center;
}

section {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 20px 5px;
  margin: 20px 0;
}



.button {
  display: inline-block;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  border: 1px solid #202223;
  margin: 0 auto;
  -webkit-box-shadow: inset 0 1px 0 #3b3d3e;
  background: -webkit-gradient(linear, left 60%, left bottom, from(#2e3032), to(#292b2d));
  color: #ccc;
  text-shadow: -1px -1px 0 #101112;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 1px;
}

.button.button-full {
  display: block;
  margin: 10px 0;
}

.button.button-active {
  background: #2d2f31;
  padding: 11px 10px 9px;
  -webkit-box-shadow: 0 1px 0 #37393a, inset 0 2px 8px rgba(0, 0, 0, 0.4);
  border: 1px solid #1a1c1e;
}

.or {
  font-size: 10px;
  text-transform: uppercase;
  text-align: center;
}

.or:before {
  content: '~ ';
}

.or:after {
  content: ' ~';
}

#debug {
  display: none;
}